.search-box {
  outline: none;
  float: right;
}

.search-box[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

.search-box::-webkit-search-decoration,
.search-box::-webkit-search-cancel-button {
  display: none;
}

.header-tile {
  font-weight: 500 !important;
}

.search-box[type=search] {
  border: solid 1px #ccc;
  padding: 5px 5px 5px 10px;
  width: 30%;
  border-radius: 4px;
  transition: all .5s;
}

.search-box[type=search]:focus {
  width: 40%;
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}


.search-box:-moz-placeholder {
  color: #999;
}

.search-box::-webkit-input-placeholder {
  color: #999;
}

.yellow-bg {
  background-color: #F4B400 !important;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #f4b400b8 !important;
}

.teal-bg {
  background-color: #79AFBC !important;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #79AFBC !important;
}

.deactivated {
  opacity: 0.4;
}

.main-tiles .card:hover {
  box-shadow: 0px 0px 9px -2px;
}

.main-tiles {
  cursor: pointer;
}
