<div class="row">
  <div class="data-total green-tile-bg">
    <span class="number">52</span><br>
    <span class="title">Total Employees</span>
  </div>
  <div class="data-total green-tile-bg">
    <span class="number">82%</span><br>
    <span class="title">Today's Attend</span>
  </div>
  
  <div class="data-total green-tile-bg">
      <span class="number">8.2%</span><br>
      <span class="title">Monthly Leave</span>
    </div>
    <div class="data-total green-tile-bg">
        <span class="number">20 </span><br>
        <span class="title">Billable Days</span>
      </div>
</div>
