.float-left {
    float: right !important;
  }
  
  .full-width {
    width: 100%;
  }
  
  :host /deep/ mat-dialog-container {
    padding: 15px !important;
  }
  
  .template-header {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
    border-radius: 3px;
    margin-top: -6px;
    margin-bottom: 19px;
    padding: 9px;
    color: white;
  }
  
  .deleteConfText {
    margin-left: 17%;
    font-weight: bold;
  }
  #deleteConfTextSpan {
    margin-left: 26%;
  }
  .template-header {
    text-align: center;
}
.mat-raised-button {
  margin-left: 17%;
  font-weight: bold;
}