.img img {
  width: 26%;
  margin-left: 32%;
}

.button-green {
  background-color: #66bb6a;
  color: white;
}

.button-lightGreen {
  background-color: #52f352;
}

.button-pink {
  background-color: #ec729c;
  color: white;
}

.button-red {
  background-color: #f26c62;
  color: white;
}

.mat-raised-button {
  margin-left: 10%;
}

.table-btns {
  margin-left: 1%;
  margin-bottom: 2%;
}

.table-btns button {
  margin-right: -8%;
}

.checkbox-td {
  text-align: center;
}

.nameVar {
  cursor: pointer;
}
