.float-left {
  float: right !important;
}

.full-width {
  width: 100%;
}

:host /deep/ mat-dialog-container {
  padding: 15px !important;
}

.template-header {
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
  border-radius: 3px;
  margin-top: -6px;
  margin-bottom: 19px;
  padding: 9px;
  color: white;
}

.save-btn {
  width: 80%;
  margin-left: 10%;
  background: linear-gradient(60deg, #66bb6a, #43a047);
  color: white;
}
.template-header {
    text-align: center;
}
