<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-header> </app-header>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle [routerLink]="['/dashboard/personal']" [class.selected-toggle]="pageType=='personal'">Personal</mat-button-toggle>
          <mat-button-toggle [routerLink]="['/dashboard/team']" [class.selected-toggle]="pageType=='team'">Team</mat-button-toggle>
        </mat-button-toggle-group>
        <app-personal *ngIf="pageType==='personal'"></app-personal>
        <app-team *ngIf="pageType==='team'"></app-team>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
