.bar-calender-row {
  margin-top: 5%;
  margin-left: 1%;
}

.doughnut-row {
  margin: 1%;
}

/*
  Limited in width,
  useful with grow mode proportional
  or grow mode mixed
*/
.wrapper-horizontally-limited {
  width: 500px !important;
}
 
/*
  Limited in height,
  useful with grow mode stretch
*/
.wrapper-vertically-limited {
  width: 100% !important;
  height: 250px !important;
}
.leaveMgmtButtons {
  margin-left: 215px;
  width: 220px;
  margin-bottom: 55px;
  border: 5px solid #5b5f55;
  border-radius: 30px;
  box-shadow: 4px 5px 19px #de11d8;
}