<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-header> </app-header>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <div class="">
          <div class="">
            <div class=" leaveAppButtons">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 main-tiles">
                  <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">person_add</i>
                      </div>
                      <p class="card-category">You can add a new user here</p>
                      <h4 class="card-title header-tile">Leave Proposal</h4>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">person</i> You've added 5 persons
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 main-tiles">
                  <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">person_add</i>
                      </div>
                      <p class="card-category">You can add a new user here</p>
                      <h4 class="card-title header-tile">Apply Leave</h4>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">person</i> You've added 5 persons
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 main-tiles">
                  <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">person_add</i>
                      </div>
                      <p class="card-category">You can add a new user here</p>
                      <h4 class="card-title header-tile">Report Leave</h4>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">person</i> You've added 5 persons
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <input type="image" src="./assets/images/my-sick-leave-cartoon-business-man-36597695.jpg" name="saveForm"
                class="btTxt submit leaveMgmtButtons" id="saveForm" (click)="test()" />

              <input type="image" src="./assets/images/my-sick-leave-cartoon-business-man-36597695.jpg" name="saveForm"
                class="btTxt submit leaveMgmtButtons" id="saveForm" (click)="test()" />

              <input type="image" src="./assets/images/my-sick-leave-cartoon-business-man-36597695.jpg" name="saveForm"
                class="btTxt submit leaveMgmtButtons" id="saveForm" (click)="test()" /> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header card-header-info">
                <h4 class="card-title">Upcoming leaves</h4>
                <p class="card-category">Upcoming leaves from 15th September, 2016</p>
              </div>
              <div class="card-body table-responsive">
                <table class="table table-hover">
                  <thead class="text-info">
                    <th>Leave type</th>
                    <th>Reason</th>
                    <th>Date</th>
                    <th>Status</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Planned leave</td>
                      <td>Hospital emergency</td>
                      <td>11/12/19</td>
                      <td>Approved</td>
                    </tr>
                    <tr>
                      <td>Flexi leave</td>
                      <td>Interview</td>
                      <td>12/09/19</td>
                      <td>Rejected</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header card-header-warning">
                <h4 class="card-title">Upcoming Holidays</h4>
                <p class="card-category">Leaves till 15th September, 2016</p>
              </div>
              <div class="card-body table-responsive">
                <table class="table table-hover">
                  <thead class="text-warning">
                    <th>Leave Name</th>
                    <th>Day</th>
                    <th>Date</th>
                    <th>Type</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Republic Day</td>
                      <td>Saturday</td>
                      <td>11/12/19</td>
                      <td>Holiday</td>
                    </tr>
                    <tr>
                      <td>Vishu</td>
                      <td>Monday</td>
                      <td>12/09/19</td>
                      <td>Holiday</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card">
              <div class="card-header card-header-success">
                <h4 class="card-title">Team Members Leave Plan</h4>
                <p class="card-category">Leaves till 15th September, 2016</p>
              </div>
              <div class="card-body table-responsive">
                <table class="table table-hover">
                  <thead class="text-warning">
                    <th>Name</th>
                    <th>Team</th>
                    <th>Date</th>
                    <th>Status</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Alwin</td>
                      <td>Consumer</td>
                      <td>11/12/19</td>
                      <td>Approved</td>
                    </tr>
                    <tr>
                      <td>Vishnu</td>
                      <td>PRO</td>
                      <td>12/09/19</td>
                      <td>Negotiating</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
